@{
    ViewBag.Title = "Index";
}
<style>
#contacts_container
{
    float: left;
    width: 300px;
}
#app_container
{
    float:left;
}
</style>
<script src="@Url.Content("~/Scripts/app.js")" type="text/javascript"></script>
<h2>Index</h2>

<div id="contacts_container">
    
    <ul id="contacts-list"></ul>
    <p>(double click on name to edit a contact)</p>
</div>
<div id="app_container"></div>

<script type="text/template" id="add_contact_template">
<fieldset>
    <legend>Add Contact</legend>
    <label for="firstname">First Name:</label><input type="text" id="firstname" /><br/>
    <label for="lastname">Last Name:</label><input type="text" id="lastname" /><br/>
    <input type="button" id="addContact_button" value="Add" />
</fieldset>
</script>

<script type="text/template" id="contact_template">
    <span class="remove-contact">Remove </span>  <a href="#contact/edit/${id}" class="contact">${firstname} ${lastname}</a>
</script>

<script type="text/template" id="edit_template">
<fieldset>
    <legend>Edit Contact</legend>
    <label for="firstname">First Name:</label><input type="text" id="editfirstname" value="${firstname}" /><br/>
    <label for="lastname">Last Name:</label><input type="text" id="editlastname" value="${lastname}" /><br/>
    <input type="button" id="saveContact_button" value="Save" />
    <input type="button" id="cancelContact_button" value="Cancel" />
</fieldset>
</script>


